<!-- views/markdown.ejs -->
<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>LinkArray - Docs</title>
    <link rel="stylesheet" href="/css/markdown.css" />
    <link rel="stylesheet" href="/css/style.global.css" />
    <link
      rel="stylesheet"
      href="https://cdnjs.cloudflare.com/ajax/libs/prism/1.29.0/themes/prism-github.css"
    />
    <link
      rel="stylesheet"
      href="https://cdnjs.cloudflare.com/ajax/libs/prism/1.29.0/plugins/line-numbers/prism-line-numbers.css"
    />
    <script src="https://cdnjs.cloudflare.com/ajax/libs/prism/1.29.0/prism.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/prism/1.29.0/plugins/line-numbers/prism-line-numbers.js"></script>
  </head>

  <body>
    <!-- Header with app name -->
    <%- include('partials/header') %>
    <div id="markdown-content"><%- content %></div>
  </body>
  <script>
    const codeBlocks = document.querySelectorAll("pre");
    codeBlocks.forEach((block) => {
      block.classList.add("line-numbers");
      const codeElement = block.querySelector("code");
      if (codeElement) {
        codeElement.classList.add("language-js");
      }
    });
  </script>
</html>
